@font-face {
  font-family: "Kabel Black"; /* set name */
  src: url(fonts/NeueKabel-Black.otf); /* url of the font */
}
body{
  margin: 0;
  padding: 0;
  font-family: "Kabel Black";
  font-size: 1.5em;

  /* background-color: #fff3b4; */
  background-color: #23150e;
  min-width: 100%;
  /* min-height: 100%; */
}
img{
  width:100%;
  display: block;
}

.big-container{
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* background-color: red; */
}
.container{
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.item{
  /* background-color: white; */
  flex-grow:1;
}
.spacer{
  width: 100%;
}
.middle-gutter{
  width: 5em;
}

.side-bar{
  /* background-color: yellow; */
  margin: 2.5em 0 2.5em 0;
  /* margin-right: 1em; */
}
.side-bar p{
  font-family: "Kabel Black";
  font-size: 1.5em;
  margin: 0em;
  /* color:#fff3b4; */

  text-align: center;
}

.side-bar p a{
  text-decoration: none;
  padding-right: 0.5em;
  padding-left: 0.5em;

  color: #fff3b4;
}
.side-bar p a:hover{
  text-decoration: underline;
}
.side-bar p :first-child{
  color:#fff3b4;
}
.side-bar p :nth-child(2){
  color:#fff3b4;
}
.side-bar p :nth-child(3){
  color:#fff3b4;
}
.copied{
  position: absolute;
  /* background-color: white; */
  color: white;
  text-align: center;
  /* opacity: 1; */
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;


  /* -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards; */

}

/* @-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
} */


@media only screen and (max-width: 600px) {
  .container{
    flex-direction: column;
    justify-content: center;
    /* background: blue; */
  }
  .side-bar{
    /* background-color: grey; */
    width: 100%;
    margin: 1em 0em 1em 0em;
    /* margin-right: 1em; */
  }
  .side-bar p{
    font-family: "Kabel Black";
    font-size: 0.7em;
    margin: 0em;

    text-align: center;
  }
}
