@font-face {
  font-family: "Kabel Black"; /* set name */
  src: url(fonts/NeueKabel-Black.otf); /* url of the font */
}
body{
  margin: 0;
  padding: 0;
  /* background-color: #fff3b4; */
  background-color: #23150e;
}
.big-container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.item{
  /* background-color: white; */
  flex-grow:1;
}
.spacer{
  width: 200%;
}
.middle-gutter{
  width: 10em;
}

.side-bar{
  /* background-color: yellow; */
  margin: 2.5em;
  /* margin-right: 1em; */
}
.side-bar p{
  font-family: "Kabel Black";
  font-size: 1.5em;
  margin: 0em;

  text-align: center;
  /* writing-mode: vertical-rl;
  text-orientation: sideways;
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); */
}

.side-bar p a{
  text-decoration: none;
  padding-right: 0.5em;
  padding-left: 0.5em;

  color: #fff3b4;
}
.side-bar p a:hover{
  text-decoration: underline;
}
.side-bar p :first-child{
  color:#fff3b4;
}
.side-bar p :nth-child(2){
  color:#fff3b4;
}
.side-bar p :nth-child(3){
  color:#fff3b4;
}
img{
  width:100%;
}

@media only screen and (max-width: 600px) {
  .container{
    flex-direction: column;
    /* background: blue; */
  }
}
